<Padding Size="Padding.Sizes.Small">
    <Wrapped>
        <Labeled Width="6em"
                 Label="Color"
                 StringValue="@Config.Color" />
        <div style="background-color: @(Config.Color); height: 1.5em; width: 6em; margin: .125em 2em;">
            &nbsp;
        </div>
    </Wrapped>
</Padding>