<Padding Size="Padding.Sizes.Small">
    <Wrapped>
        <Labeled Width="6em"
                 Label="Radius"
                 StringValue="@Config.Radius" />
        <div style="border: 1px #222 solid; border-radius: @(Config.Radius); height: 1.5em; width: 6em; margin: .125em 2em;">
            &nbsp;
        </div>
    </Wrapped>
</Padding>