@if (Config is not null)
{
    <Wrapped Alignment="Wrapped.Alignments.Top">
        <Field Label="Rows Per Target"
               Size="Field.Sizes.Medium">
            <div class="c-tiny">
                <NumericTextBox ReadOnly="ReadOnly"
                                @bind-Value="Config.LimitRowsPerTarget" />
            </div>
        </Field>
    </Wrapped>
    <div class="c-parenthetical c-padding-tiny-top">
        Blank scans all active HTML fields in the current database. This job touches text elements, multimedia text, descriptions, emails, templates, and comments.
    </div>
}