<div class="c-settings-transfer">
    <ButtonGroup>
        <ButtonCore Clicked="CopySettings"
                    IconClass="@CopyIconClass"
                    Title="Copy settings"
                    AriaLabel="Copy settings"
                    ButtonStyle="ButtonCore.ButtonStyles.Transparent" />
        <ButtonCore Clicked="PasteSettings"
                    IconClass="@PasteIconClass"
                    Title="Paste settings"
                    AriaLabel="Paste settings"
                    ButtonStyle="ButtonCore.ButtonStyles.Transparent" />
    </ButtonGroup>
</div>