<div class="c-batch-section">
    <div class="heading">
        <div class="title">@Title</div>
        @if (HeadingPanel is not null)
        {
            <div class="heading-panel">@HeadingPanel</div>
        }
    </div>
    @ChildContent
</div>