<button @onclick="() => Clicked.InvokeAsync()">
    <div class="c-button destroy">
        <div class="icon">
            <span class="c-icon-trash2"></span>
        </div>
        <div class="text">Delete</div>
    </div>
</button>