<button @onclick="() => Clicked.InvokeAsync()"
        disabled="@Disabled">
    <div class="c-button">
        <div class="icon">
            <span class="c-icon-register"></span>
        </div>
        <div class="text">Note</div>
    </div>
</button>