<a class="c-button transparent bordered c-button-feature"
   href="@Href">
    <div class="icon">
        <span class="@(IconClass.HasSomething() ? IconClass : "c-icon-cog2")"></span>
    </div>
    <div class="text">@Text</div>
</a>