<button @onclick="() => Clicked.InvokeAsync()">
    <div class="c-button move">
        <div class="text">&nbsp;</div>
        <div class="icon">
            <span class="c-icon-chevron-down"></span>
        </div>
        <div class="text">&nbsp;</div>
    </div>
</button>