<button @onclick="() => Clicked.InvokeAsync()">
    <div class="c-button save">
        <div class="icon">
            <span class="c-icon-check"></span>
        </div>
        <div class="text">@(OkText)</div>
    </div>
</button>