<button @onclick="() => Clicked.InvokeAsync()">
    <div class="c-button save">
        <div class="icon">
            <span class="c-icon-floppy-disk"></span>
        </div>
        <div class="text">@Text</div>
    </div>
</button>