<label class="c-checkbox @ModifierClass">
    <input type="checkbox"
           disabled="@ReadOnly"
           checked="@Value"
           @onchange="HandleChange">
    <div class="label">@Label</div>
</label>