@if (!Navigator.Initialized)
{
    <div id="c-splash-screen">
        <div class="c-waiter no-overlay">
            <div class="content">
                <div class="animation">
                    <div class="c-moving-balls">
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                    </div>
                </div>
                <div class="text">
                    Loading...
                </div>
            </div>
        </div>
    </div>
}