<div class="c-toolbar @BorderClass">
    @if (Left is not null)
    {
        <div class="left">
            @Left
        </div>
    }
    @if (Right is not null)
    {
        <div class="right">
            @Right
        </div>
    }
</div>